.jumbotron{
    background-color: red;
}
.col1{
	width:100%;
	padding:20px;
	background-color:darkorange;
	border-radius:1.5vmax
	}
.col2{
	width:100%;
	padding:20px;
	background-color:orange;
	border-radius:1.5vmax
}

@media only screen and (min-width: 768px) {
.col1{
	width:50% ;
	float:right;
	background-color:darkorange;
	border-radius:1.5vmax
	}
.col2 {
	width:50% ;
	float:left;
	padding:20px;
	background-color:orange;
	border-radius:1.5vmax
	}
}

.btn-autosize {
  padding: 1px 3px;
  font-size: 4vw;
  line-height: 1.5;
  border-radius: 1.5vmin;
}
#equations{
	height:7vw;
	font-size:6.5vw;
	color:black
}
#enteredText{
    height:8vw;
    font-size:7vw;
    width:50%
}
@media screen and (min-width: 768px) {
  .btn-autosize {
    padding: 5px 5px;
    font-size: 3vw;
    line-height: 1.5;
    border-radius: 1.5vmin;
  }
  #equations{
	height:4.3vw;
	font-size:3.5vw;
	color:black
  }
  #enteredText{
     height:5vw;
     font-size:4vw;
     width:50%
  }
}
@media screen and (min-width: 992px) {
  .btn-autosize {
    padding: 10px 16px;
    font-size: 2vw;
    line-height: 1.33;
    border-radius: 1.5vw;
  }
  #equations{
	height:3vw;
	font-size:3vw;
	color:black
  }
  #enteredText{
     height:5vw;
     font-size:2.5vw;
     width:50%
  }
}

#answerbox {
	position:fixed;
	top:7.5vh;
	left: 0px;
	z-index:10;
	width: 100%;
	display:none;
	background-color:deepskyblue;
	border-radius:1.5vmax
}

